/* ==|== primary styles =====================================================
   Author: www.prowebdesign.ro
   Write your own styles here.
   ========================================================================== */

/* typography */
body{
	color:#666;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:1em; line-height:normal; 
	}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-family:'Cuprum', Arial, Helvetica, sans-serif; 
	line-height:120%;
	margin:0;
	padding:0; font-family:'Cuprum', Arial, Helvetica, sans-serif; line-height:120%} 


/* links */
a,
a:visited,
a:active
a:hover{color:#0099ff;}
a:hover{ text-decoration:none;}

  
/* structure */   
#container, #colophon{
	max-width: 960px; 
	margin: auto;}

header{ 
	margin: 0 0 20px 0;}
header, header nav, #main, footer,  #banner{
	width:100%;}
#logo{ 
	float:left; 
	padding-right:2%}
header{
	padding:10px 0 40px 0;}
header h1{ 
	font-size:3.2em;}
header h2{ 
	font-size:1.8em;}

#main, footer{ 
	font-size:.875em; 
		line-height:1.3em;}
#main p{ 
	margin:20px 0 20px 0;}

#content {  
	float:right;
	margin:0 0 20px 0;}
#content ul, #content ol {
	margin: 1em 0;
	padding: 0 0 0 40px; }
#content dd {
	margin: 0 0 0 40px; }

/* RESPONSIVE IMAGES IN CONTENT AREA!! IF YOU WANT IMAGES TO BE RESPONSIVE EVERYWHERE, WRITE ANOTHER CSS RULE */
#content img{ max-width:100%; height:auto;}

aside { 
	float:left;
	margin:0 0 40px 0;
	}
#secondary-navigation{margin-bottom:20px;}
#secondary-navigation ul li a{ 
	background:#E6E6E6;
	display:block;
	margin:5px 0; 
	padding:7px;}
#secondary-navigation ul li a:hover{
	background:#ccc;
	color:#fff;}

footer{  
	clear:both;
	font-size:80%;
	padding:20px 0; }

/*colors and bgs*/
body{background:url(../images/bg.png);}
h1, h2, h3, h4, h5, h6{
	color:#8ebd01; 
	text-shadow:0 2px 0px #fff;}

footer{ 
	background:url(../images/footer-bg.png) top repeat-x;
	color:#ccc;}
footer h1, footer h2, footer h3, footer h4{ 
	color:#CCC; 
	margin-bottom:10px;
	text-shadow:none;}
footer ul{
	margin:0 0 0 8%;}

a.bluelink{ 
	background:#0099ff; 
	border-radius:7px; 
	color:#fff;
	display:block;
	float:left; 
	margin:10px 15px 10px 0; 
	padding:15px;}





/* ==|== non-semantic helper classes ========================================
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
only screen and min-device-width
   ========================================================================== */
   
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
#container, #colophon{width:98%;}

.flexslider {width:94%;}

#secondary-navigation ul li a{padding:15px;}
}

/* large smartphones ----------- */
@media  (max-width: 768px) {
#container, #colophon{width:98%;}

header{padding:10px 0 1px 0;}
header h1{ font-size:2.6em;}
header h2{ font-size:1.6em;}

.flexslider {width:92%;}

.sf-menu li.sfHover ul {top:-999em;}
.sf-sub-indicator {	background:none;}

#secondary-navigation ul li a{padding:15px;}

#main h1{font-size:1.6em;}
#main h2{font-size:1.4em;}
#main h3{font-size:1.3em;}
#main h4{font-size:1.2em;}
}

/* medium smartphones ----------- */
@media (max-width: 600px) {
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-left: 0.83333333333333%;
	margin-right: 0.83333333333333%;
	width: 48.333333333333%;
}	
}

/* medium smartphones ----------- */
@media (max-width: 480px) {
#container, #colophon{width:94%;}

#logo, header hgroup{ width:100%; text-align:center;}
#logo img{max-width:100%;}

header h1{ font-size:1.8em;}
header h2{ font-size:1.2em;}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-left: 0;
	margin-right: 0;
	width:100%;
}
#topnav{ display:block; width:100%; text-align:center; background:#8dbc01; padding:15px 0; margin:15px 0; border-radius:7px;}
#mobileMenu_mobileselect { display:block; width:90%; margin:auto; height:1.6em;}

footer .grid_4{ border-bottom:1px dotted #ccc; padding-bottom:10px;}
}

/* medium smartphones, portrait ----------- */
@media (max-width: 320px) {

}





/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
